{
	"version": "{{version}}",
	"server-wide-modules": ["web"],
	"install": [
		"crm"
	],
	 "addons_paths": [
        "odoo/odoo/addons",
        "odoo/addons",
        "addons/base",
        "addons/account",
        "addons/contract",
        "addons/crm",
        "addons/hr",
        "addons/mail",
        "addons/product",
        "addons/web",
        "addons_tools",
	 ],
	 "uninstall": [
	 ]
}